<span class="{{ div_uuid }}">
    <span class="thumbnail-upload">
    {#style="display:inline-block;width:312px;height:183px">#}
        <span id="cloudinary_views_field">
        {#style="display:inline-block;width:312px;height:183px">#}
            
        </span>
    </span>
</span>