<span class="{{ div_uuid }}">
    <span class="video-upload" style="display:inline-block;width:312px;height:183px">
        <span id="wistia_uploader"style="display:inline-block;width:312px;height:183px">
            
        </span>
    </span>
</span>
